<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кола</title>
</head>
<body>
    {% include 'includes/decor_css.html' %}
    <h1>Кола</h1>
    <p>Інформація про напій Кола.</p>
    <a href="{% url 'kolacom' %}">Додати коментар</a>

    {% for com in comm %}
        <div class="post-item">
            <p>{{ com.description }}</p>
        </div>
        {% endfor %}
    {% include 'includes/back_button.html' %}
</body>
</html>