<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Вишневий смузі</h1>
    {% include 'includes/decor_css.html' %}
    <a href="{% url 'cherrycom' %}">Додавить комент</a>
    {% for com in comm %}
        <div class="post-item">
            <p>{{ com.description }}</p>
        </div>
        {% endfor %}
    {% include 'includes/back_button.html' %}
    </body>
    </html>